@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono|Titillium+Web&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(45deg, #499bea 56%, #207ce5 100%);
  height: 100vh;
  overflow: hidden;
}

.calculator {
  margin: 30px auto 0 auto;
  width: 400px;
  padding: 10px;
  border: none;
  background: #e9ebee;
  box-shadow: 0px 15px 1px rgb(161, 159, 159);
  border-radius: 20px;
}

.calculator h2 {
  text-align: center;
  margin-bottom: 10px;
  font-family: "Titillium Web", sans-serif;
}

#screen {
  width: 100%;
  height: 70px;
  font-size: 30px;
  padding: 15px;
  color: rgb(92, 92, 92);
  letter-spacing: 2.5px;
  text-align: right;
  border-radius: 5px;
  border: none;
  display: block;
  left: 0;
  right: 0;
  background: black;
  color: greenyellow;
  font-family: "Share Tech Mono", monospace;
  font-weight: bold;
}

.button-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.button {
  display: flex;
  width: 20%;
  height: 80px;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-right: 15px;
  margin-bottom: 20px;
  font-size: 20px;
  background-color: white;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 6px 1px rgb(97, 97, 97);
  font-family: "Titillium Web", sans-serif;
}
.button:hover {
  background: rgb(194, 194, 194);
  cursor: pointer;
}
.del-pad {
  margin-right: 0px;
}

.dif-color {
  background: orange;
}
.nol {
  flex-grow: 1;
  margin-left: 15px;
}
